<template>
  <div>
    <div class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <h1 class="title">
          Awesome Vue New Updates
        </h1>
        <h2 class="subtitle">
          Links ordered by merged time in
          <fa :icon="['fab', 'github']" /><a href="https://github.com/vuejs/awesome-vue">Awesome-vue</a>
        </h2>
      </div>
    </div>
    <section class="container section">
      <AwesomeItem
        v-for="item in json"
        :key="item.Id"
        :item="item" />
      <div class="has-text-centered">
        <a
          v-if="nextToken"
          class="button is-primary is-fullwidth"
          @click="clicked">
          more
        </a>
      </div>
    </section>
  </div>
</template>

<script>
import AwesomeItem from '~/components/AwesomeItem.vue'
import '~/plugins/amplify'
import { API, graphqlOperation } from 'aws-amplify'

const query = `query Q($limit: Int, $nextToken: String){
        querySort(limit: $limit, nextToken: $nextToken) {
          items {
            mergedAt
            url
            title
            description
          },
          nextToken
        }
      }`
const limit = 50
export default {
  components: {
    AwesomeItem
  },
  async asyncData(ctx) {
    const variables = {
      limit: limit,
      nextToken: null
    }
    const res = await API.graphql(graphqlOperation(query, variables))
    // console.log(res.data.querySort.items[4]);
    return {
      json: res.data.querySort.items,
      nextToken: res.data.querySort.nextToken
    }
  },
  methods: {
    async clicked() {
      const variables = {
        limit: limit,
        nextToken: this.nextToken
      }
      const res = await API.graphql(graphqlOperation(query, variables))
      // console.log(res.data.listAwesomeLinks.items);
      this.json = this.json.concat(res.data.querySort.items)
      this.nextToken = res.data.querySort.nextToken
    }
  }
}
</script>

<style scoped>
.hero-body {
  text-align: center;
}

.hero-body .title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 1px;
}

.hero-body .subtitle a {
  text-decoration: underline;
}
</style>
