<template>
  <div class="box">
    <div class="column">
      <div>
        <a
          :href="item.url"
          class="title"
          target="_blank">{{ item.title }}</a>
      </div>
      <div class="subtitle is-6 has-text-grey">
        <fa
          :icon="['fas', 'clock']"
          class="has-text-grey-light"/> {{ item.mergedAt | formatedDate }}
      </div>
      <div class="description">{{ item.description }}</div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'AwesomeItem',
  filters: {
    formatedDate(date) {
      return moment(date).format('llll')
    }
  },
  props: {
    item: {
      type: Object,
      default() {
        return {
          title: '',
          url: '',
          mergedAt: '',
          description: ''
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
